@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:  */
}
:root {
    --primary: #644DAF;
    --secondary: #B2A8D2;
    --purple: #E7E3FF;
    --lightPurple: #E6E6FA;
    --pink: #EF9C98;
    --white: #FFFFFF;
    --gray: #D8D8D8;
    --gray2: #EBEBEB;
    --gray3: #F4F4F4;
}