@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    background-color: var(--secondary);
    background-image: url("./image/background-top.png");
    background-repeat: no-repeat;   
    background-position: 40% 10%;
    /* background-size: cover;  */
    
}
:root {
    --primary: #644DAF;
    --secondary: #AF99F4;
    --purple: #E7E3FF;
    --lightPurple: #E6E6FA;
    --pink: #EF9C98;
    --white: #FFFFFF;
    --gray: #D8D8D8;
    --gray2: #EBEBEB;
    --gray3: #F4F4F4;
}