.advertising {  
    display: flex;
    gap: 0% 5%;
    
}
.main {
    background-color: var(--secondary);
    height: 100%;
    background-size: cover;
}
.advertising-left {
    width: 35%;
    background-color: var(--primary);
    border-top-right-radius: 200px 200px;
    color: var(--white);
}
.advertising-left__title{
    font-weight: bold;

}
.advertising-left__item-list{
    display: flex;
}
.advertising-left__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--white);
    color: var(--primary)
}
.advertising-left__item--signal{
    display: flex;
    flex-direction: column;
}
.advertising-left__item--white{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advertising-left__item{

}
.advertising-left__item-title{
    
}
.advertising-left__item-desc{
    display: flex;
    gap: 5px;
}
.advertising-left__item-desc-text{

}
.advertising-left__item-desc-number{
    font-size: 24px;
    font-weight: bold;
}
.advertising-left__item-bottom{
    display: flex;
}
