.advertising {  
    display: flex;
    gap: 0% 3%;
}
.main {
    background-color: var(--secondary);
}
.advertising-left {
    width: 35%;
    background-color: var(--primary);
    border-top-right-radius: 80px 80px;
}